certifi           
chardet          
colorama        
cycler           
Django           
google-cloud     
idna             
kiwisolver       
lazy-object-proxy
matplotlib       
numpy             
pandas            
pip               
pyparsing        
python-dateutil  
pytz              
requests         
selenium         
setuptools       
six              
urllib3          
wheel             